/* CSS RESET
----------------------------
----------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}

html {
	width: 58.75em;
	margin: 0 auto;
	font-family: Helvetica, Verdana, Geneva, sans-serif;
	background-color: #FF6A8F;
	/*background-image: url(../images/dots.jpg);*/
}

body {
	background-color: #fff;
	box-shadow: 0px 0px 4px #888;	
}

/* HEADER STYLES
----------------------------
----------------------------*/

#logo {
	float: left;
	margin-left: .313em;
}

nav ul {
	font-family: 'Doppio One', sans-serif;
	background-color: #ffe9ee;
	height: 3.125em;
	line-height: 3.125em;
}

nav li {
	list-style-type: none;
	display: inline;
	padding: .95em;
}

nav li a {
	text-decoration: none;
	color: #cd5572;
}
